# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.*
!.env.example

# Model / dataset / checkpoints
data/
models/
checkpoints/
*.safetensors
*.pt
*.pth
*.ckpt

# Hugging Face cache
.cache/
huggingface/

# Training logs
wandb/
rums/

#profilling raw files
*.nsys-rep
*.ncu-rep
*.sqlite
*.pt.trace.json

# DeepSpeed runtime checkpoint
results/training/deepspeed_zero3_checkpoint/

#OS
.DS_Store
Thumbs.db


